.store{
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__video{
        height: 300px;
    }
    &__header{
        font-size: 80px;
        color: white;
        text-align: center;
        font-weight: 500;
        // line-height: 1.2;
        // letter-spacing: 0px;
    }
    &__rights{
        color: white;
        position: absolute;
        bottom: 70px;
    }
}